<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Mini Message Board</h1>
      <%- include('navbar', { links: links }) %>
    </header>
    <main>
      <section>
        <% messages.forEach((message, index) => { %>
        <article class="message-card">
          <div class="message-content">
            <p class="message-user"><%= message.sender_name %> said:</p>
            <p class="message-text"><%= message.message %></p>
            <p class="message-date"><%= new Date(message.created_at).toLocaleString()%></p>
          </div>
          <a href="/<%= message.message_id %>" class="message-link">See message</a>
        </article>
        <% }); %>
      </section>
    </main>
  </body>
</html>
