<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <body>
    <header>
      <h1>Mini Message Board</h1>
      <%- include('navbar', { links: links }) %>
    </header>
    <main>        
      <section>
        <% messages.forEach((message, index) => { %>
          <article>
                <article>
                  <p><%= message.user %> said:</p>
                  <p><%= message.text %></p>
                  <p><%= message.added.toLocaleString() %></p>
                </article>
                <a href="/<%=index %>">See message</a>
          </article>
        <% }); %>
      </section>
    </main>
  </body>
</html>